In [5]:
import pandas as pd

# Load the dataset
df = pd.read_csv("car_price_dataset.csv")

# Display the first few rows
print(df.head())

# Check dataset info
df.info()

        Brand   Model  Year  Engine_Size Fuel_Type    Transmission  Mileage  \
0         Kia     Rio  2020          4.2    Diesel          Manual   289944
1   Chevrolet  Malibu  2012          2.0    Hybrid       Automatic     5356
2    Mercedes     GLA  2020          4.2    Diesel       Automatic   231440
3        Audi      Q5  2023          2.0  Electric          Manual   160971
4  Volkswagen    Golf  2003          2.6    Hybrid  Semi-Automatic   286618

   Doors  Owner_Count  Price
0      3            5   8501
1      2            3  12092
2      4            2  11171
3      2            1  11780
4      3            3   2867
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         10000 non-null  object
 1   Model         10000 non-null  object
 2   Year          10000 non-null  int64
 3   Engine_Size   10000 non-null  float64
 4   Fuel_Type     10000 non-null  object
 5   Transmission  10000 non-null  object
 6   Mileage       10000 non-null  int64
 7   Doors         10000 non-null  int64
 8   Owner_Count   10000 non-null  int64
 9   Price         10000 non-null  int64
dtypes: float64(1), int64(5), object(4)
memory usage: 781.4+ KB

Handling Missing Values

In [6]:
# Check for missing values
print(df.isnull().sum())

# Fill or drop missing values (modify as needed)
df = df.dropna()  # Drop rows with missing values

Brand           0
Model           0
Year            0
Engine_Size     0
Fuel_Type       0
Transmission    0
Mileage         0
Doors           0
Owner_Count     0
Price           0
dtype: int64

Encoding Categorical Variables

In [9]:
print(df.columns)  # Display all column names

Index(['Brand', 'Model', 'Year', 'Engine_Size', 'Fuel_Type', 'Transmission',
       'Mileage', 'Doors', 'Owner_Count', 'Price'],
      dtype='object')

In [12]:
from sklearn.preprocessing import LabelEncoder

# Example: Encoding categorical columns (modify based on your dataset)
categorical_columns = ['Brand', 'Fuel_Type', 'Transmission']  # Replace with actual column names
encoder = LabelEncoder()

for col in categorical_columns:
    df[col] = encoder.fit_transform(df[col])

Split Data for Training

In [14]:
from sklearn.model_selection import train_test_split

# Assuming "price" is the target column
X = df.drop(columns=['Price'])  # Features
y = df['Price']  # Target

# Split data into 80% training, 20% testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Training a Machine Learning Model

In [17]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

# Identify categorical columns
categorical_columns = df.select_dtypes(include=['object']).columns.tolist()

# Initialize OneHotEncoder (Fix: Use sparse_output instead of sparse)
encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

# Convert categorical columns to one-hot encoding
encoded_features = encoder.fit_transform(df[categorical_columns])

# Convert to DataFrame
encoded_df = pd.DataFrame(encoded_features, columns=encoder.get_feature_names_out(categorical_columns))

# Drop original categorical columns and replace with encoded ones
df = df.drop(columns=categorical_columns)
df = pd.concat([df, encoded_df], axis=1)

print(df.head())  # Verify that all columns are now numeric

   Brand  Year  Engine_Size  Fuel_Type  Transmission  Mileage  Doors  \
0      6  2020          4.2          0             1   289944      3
1      2  2012          2.0          2             0     5356      2
2      7  2020          4.2          0             0   231440      4
3      0  2023          2.0          1             1   160971      2
4      9  2003          2.6          2             2   286618      3

   Owner_Count  Price  Model_3 Series  ...  Model_Optima  Model_Passat  \
0            5   8501             0.0  ...           0.0           0.0
1            3  12092             0.0  ...           0.0           0.0
2            2  11171             0.0  ...           0.0           0.0
3            1  11780             0.0  ...           0.0           0.0
4            3   2867             0.0  ...           0.0           0.0

   Model_Q5  Model_RAV4  Model_Rio  Model_Sonata  Model_Sportage  \
0       0.0         0.0        1.0           0.0             0.0
1       0.0         0.0        0.0           0.0             0.0
2       0.0         0.0        0.0           0.0             0.0
3       1.0         0.0        0.0           0.0             0.0
4       0.0         0.0        0.0           0.0             0.0

   Model_Tiguan  Model_Tucson  Model_X5
0           0.0           0.0       0.0
1           0.0           0.0       0.0
2           0.0           0.0       0.0
3           0.0           0.0       0.0
4           0.0           0.0       0.0

[5 rows x 39 columns]

In [ ]:
Saving the Model

In [18]:
import joblib

# Save trained model
joblib.dump(model, 'car_price_model.pkl')

# Save the label encoder (if used)
joblib.dump(encoder, 'encoder.pkl')

['encoder.pkl']

In [ ]:
!python app.py